{%extends "layout.html" %}

{%block title %}
Welcome
{%endblock%}

{%block main%}
<h1>Welcome to QB Spark</h1>
<p>Matching QB mentors with current QB mentees</p>
<br></br>

<h3>Who We Are</h3>
<p>QB Spark is a group of people who have gone through the Questbridge process
    and who want to support and mentor students navgating college apps, including QB Match. 
    After the pandemic hit, a discord server was launched for Questbridge alumni to 
    help high school seniors with college apps and an informal mentorship program was launched. 
    Alumni and current seniors would fill out a google survey with questions about their background,
    and the server admin would manually "match" mentors to mentees. 

</p>
<br></br>


<h3>What We do</h3>
<p> The QB Spark application automates and streamlines the matching and mentorship experience. 
    Step 1: Mentors and mentees register and fill out a survey with questions about their background.
    Step 2: QB spark will match people and send notifications when finished.
    Step 3: Mentors and mentees can schedule meetings, change their profile,
    and connect with other mentees on their dashboard page.
    Step 4: In the next application season, the process repeats </p>

    
{%endblock%}