{% extends "layout1.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
<form action="/login" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
    </div>
    <div class="mb-3">
        <select name ="role" id ="role" placeholder="Role" >
            <option class="form-control mx-auto w-auto" value="mentor">Mentor</option>
            <option class="form-control mx-auto w-auto" value="mentee">Mentee</option>
        </select>

    </div>
    <div class="mb-3" style="text-align: center;">
        <button class="btn btn-primary" type="submit">Log In</button>
    </div>
</form>
{% endblock %}