{% extends "layout1.html" %}

{% block title %}
    Mentor Survey
{% endblock %}

{% block main %}
<h3>Terms and Conditions</h3>
<form action="/mentorSurvey" method="post" required>
    <div class="mb-3">
        <p> As a mentor, I agree to fully respect the boundaries I personally establish with my mentee. 
            I will establish these boundaries with a mutual consensus. This includes but is not limited to: 
            respecting the methods of communication we mutually agree to at the beginning of our professional relationship, 
            respecting the time frame of communication established at the beginning of our professional relationship, 
            respecting my mentee's right to privacy and autonomy on their social media platforms, and respecting my mentee's 
            right to cancel or reschedule any form of mentorship including virtual meetings, phone calls and virtual communication. </p>
        <label for="cars">Choose answer:</label>
        <select name="term_one" id="term_one" required>
            <option disabled selected value> -- select an option -- </option>
            <option value="1">I agree to this condition.</option>
            <option value="0">I disagree to this condition.</option>
        </select>
    </div>
    <div class="mb-3">
        <p> As a mentor, I agree to guiding my mentee through all application sections in a timely manner. 
            If I cannot finish these, I will clearly communicate this to my mentee. I will follow my own or 
            suggested timeframe, come prepared to every meeting and I will respectfully provide my mentee with 
            positive constructive criticism. </p>
        <label for="cars">Choose answer:</label>
        <select name="term_two" id="term_two" required>
            <option disabled selected value> -- select an option -- </option>
            <option value="1">I agree to this condition.</option>
            <option value="0">I disagree to this condition.</option>
        </select>
    </div>
    <div class="mb-3">
        <p> As a mentee, I agree to demonstrate appropriate behavior in all of my interactions with my mentor. 
            This includes and is not limited to: refraining from making uncomfortable comments on appearance, 
            refraining from engaging in any form of discriminatory conversation towards a certain demographic, 
            and refraining from beginning any form of romantic or sexual relationship with my mentor. </p>
        <label for="cars">Choose answer:</label>
        <select name="term_three" id="term_three" required>
            <option disabled selected value> -- select an option -- </option>
            <option value="1">I agree to this condition.</option>
            <option value="0">I disagree to this condition.</option>
        </select>
    </div>
    <div class="mb-3">
        <p> As a mentor, I agree to demonstrate appropriate behavior in all of my interactions with my mentor. 
            This includes and is not limited to: refraining from making uncomfortable comments on appearance, 
            refraining from engaging in any form of discriminatory conversation towards a certain demographic, 
            and refraining from beginning any form of romantic or sexual relationship with my mentor. </p>
        <label for="cars">Choose answer:</label>
        <select name="term_four" id="term_four" required>
            <option disabled selected value> -- select an option -- </option>
            <option value="1">I agree to this condition.</option>
            <option value="0">I disagree to this condition.</option>
        </select>
    </div>
    <div class="mb-3">
        <p> As a mentor, I agree to any other conditions established by my mentee. By clicking, "I agree to this condition," 
            I am indicating I am fully aware of the conditions in my mentorship, acknowledging the consequences of violating 
            any condition and understanding that I am able to lose this mentorship at any time, given I engage in any inappropriate 
            behavior. </p>
        <label for="cars">Choose answer:</label>
        <select name="term_five" id="term_five" required>
            <option disabled selected value> -- select an option -- </option>
            <option value="1">I agree to this condition.</option>
            <option value="0">I disagree to this condition.</option>
        </select>
    </div>

<br></br>
<h3>Race/Ethnic Identity</h3>
<!-- <form action="/mentorsurvey" method="post" required> -->
    <p>Check off the race(s)/ethnicity/(ies) you identify with:</p>
    <select name="ethnicity" id="ethnicity" required>
        <option disabled selected value> -- select an option -- </option>
        <option value="black">Black or African American</option>
        <option value="asian">Asian</option>
        <option value="native">American Indian/Alaskan Native/Native Indian</option>
        <option value="pacificislander">Pacific-Islander</option>
        <option value="white">White/European</option>
        <option value="multi">Multi-racial</option>
        <option value="none">None of the above/Prefer not to answer</option>
    </select>

<br></br>
<br></br>

<h3>Religious Identity</h3>
<p>Select the spirituality/(ies) that you identify with:</p>
    <select name="religion" id="religion" required>
        <option disabled selected value> -- select an option -- </option>
        <option value="muslim">Muslim</option>
        <option value="jewish">Jewish</option>
        <option value="christian">Christian</option>
        <option value="hindu">Hindu</option>
        <option value="buddhist">Buddhist</option>
        <option value="none">None of the above/ Prefer not to answer</option>
    </select>
<br></br>
<br></br>

<h3>Gender Identity</h3>
    <p>Check off the gender(s) you identify with:</p>
    <select name="gender" id="gender" required>
        <option disabled selected value> -- select an option -- </option>
        <option value="female">Female</option>
        <option value="male">Male</option>
        <option value="transf">Transfemme</option>
        <option value="transm">Transmasc</option>
        <option value="nonbinary">Non-Binary</option>
        <option value="none">None of the above/ Prefer not to answer</option>
    </select>

<br></br>
<br></br>

<h3>Citizenship Status</h3>
    <p>Check off your citizenship status:</p>
    <select name="citizenship" id="citizenship" required>
        <option disabled selected value> -- select an option -- </option>
        <option value="international">International Student studying in the U.S.</option>
        <option value="domestic">Domestic Undocumented Student</option>
        <option value="citizen">U.S. Citizen</option>
        <option value="none">None of the above/ Prefer not to answer</option>
    </select>

<br></br>
<br></br>

<h3>Academic Pathway</h3>
<p>What is your primary academic interest?</p>
    <select name="academics" id="academics" required>
        <option disabled selected value> -- select an option -- </option>
        <option value="sciences">Life/Physical Sciences: Biology, Physics, Chemistry, Astronomy, etc.</option>
        <option value="engineering">Engineering: Chemical, Mechanical, Electrical, etc.</option>
        <option value="socials">Social Sciences: Pre-Law, Economics, History, Psychology, etc.</option>
        <option value="arts">Arts: Music, Dancing, Theater, Film, Architecture, etc.</option>
        <option value="business">Business: Management, Accounting, Finance, etc.</option>
        <option value="undecided">Undecided/Prefer not to answer</option>
    </select>
    

<br></br>
<br></br>
<h3>Mentees</h3>
<!-- <form action="/mentorsurvey" method="post" required> -->
    <div class="mb-3">
        <p> How many can you take on? (max 5): </p>
        <label for="menteecount">Number of Mentees: </label>
        <select name="menteecount" id="menteecount" required>
            <option disabled selected value> -- select an option -- </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <br></br>
    <h3>Write Your Bio</h3>
    <div class="form-group">
        <label for="bio">Anything you would like your mentee to know!</label>
        <textarea class="form-control" id="bio" name="bio" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="current">What school do you attend?</label>
        <input type="text" name="current">
      </div>
    <br></br>
    <br></br>
    <button class="btn btn-primary" type="submit">Complete Registration</button>
</form>
{% endblock %}