{% extends "layout2.html" %}

{% block title %}
    Mentee Dashboard
{% endblock %}

{% block main %}
<div class="card text-center">
    <div class="card-header">
      Your Mentor Match is
    </div>
    <div class="card-body">
      <h5 class="card-title">{{mentor_name}}!</h5>
      <p class="card-text">Contact your mentor at {{mentor_email}}</p>
    </div>
  </div>
  <br></br>
  <br></br>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    Meetings Scheduled
                </div>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Scheduler</th>
                        <th scope="col">Receiver</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Link</th>
                        <th scope="col">Delete?</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                    {% for sender in senders %}
                        <td>{{sender}}</td>
                    {% endfor %}
                    {% for receiver in receivers %}
                        <td>{{receiver}}</td>
                    {% endfor %}
                    {% for date in dates %}
                        <td>{{date}}</td>
                    {% endfor %}
                    {% for time in times %}
                        <td>{{time}}</td>
                    {% endfor %}
                    {% for link in links %}
                        <td>{{link}}</td>
                    {% endfor %}
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
{% endblock %}
