
{% extends "layout2.html" %}

{% block title %}
    College App Resources
{% endblock %}

{% block main %}
<div class="card">
    <div class="card-header">
      College Essays
    </div>
    <div class="card-body">
      <h5 class="card-title">The College Essay Guy</h5>
      <p class="card-text">Has lots of great videos on brainstorming essay ideas that showcase your values and unique experiences.
          If you're able to start on your essays earlier, you can follow along with the course the website provides! There
          are also scholarships for low-income students so that you can get 1:1 essay help from a mentor. The program is called matchlighters
          so make sure to also apply for that!
      </p>
      <a href="https://www.collegeessayguy.com/" class="btn btn-primary">Click Here</a>
    </div>
  </div>
  <br></br>
  <div class="card">
    <div class="card-header">
      Building Your College List
    </div>
    <div class="card-body">
      <h5 class="card-title">College Board "Search Service"</h5>
      <p class="card-text">Helps you find the colleges that are the best fit for you! You can filter out colleges 
          based on many categories such as location, size, private/public, etc. Do note that you need a collegeboard
          account to use this service.
      </p>
      <a href="https://studentsearch.collegeboard.org/?ef_id=CjwKCAiAhreNBhAYEiwAFGGKPHM6SLu-Y-WXpjz_bHWgjFZGSlbI59Tgvlcsu6cDbuqrBBh-hAfAihoCplkQAvD_BwE:G:s&s_kwcid=AL!4330!3!566583861996!e!!g!!college%20board%20college%20search!11024885979!107501268185&gclid=CjwKCAiAhreNBhAYEiwAFGGKPHM6SLu-Y-WXpjz_bHWgjFZGSlbI59Tgvlcsu6cDbuqrBBh-hAfAihoCplkQAvD_BwE" class="btn btn-primary">Click Here</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Questbridge 
    </div>
    <div class="card-body">
      <h5 class="card-title">QB Compiled Resources</h5>
      <p class="card-text">In this google doc you'll find resources such as scholarships, webinars, financial aid, summer program 
          opportunities, essay help, and much more. This was made by QB scholars for students going through the questbridge process. 
      </p>
      <a href="https://docs.google.com/document/d/17rSesF1m96JsetOrqpw_fUVbxV28m9ID1DjeSGhLngY/edit?fbclid=IwAR2MJw3qU_-d6AQRkU7HHpJCa1HNBQelC8dbQz-y2PzLDwkXFXXyuhsC1eg" class="btn btn-primary">Click Here</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
        Questbridge
    </div>
    <div class="card-body">
      <h5 class="card-title">Questbridge Facebook Community</h5>
      <p class="card-text">Going through the college application process, including Questbridge can be very stressful. 
          Having the facebook group is a great way to ask questions and get support along the way. This group is not officially
          affiliated with Questbridge, but many Questbridge alumni are there because they explicitly want to help! 
      </p>
      <a href="#" class="btn btn-primary">Click Here</a>
    </div>
  </div>
           
{% endblock %}


