{% extends "layout2.html" %}

{% block title %}
    Schedule a Meeting
{% endblock %}

{% block main %}

<body style="background-color:rgb(252, 231, 193);">
<form action="/schedulerMentee" method="post" required>
  <label for="date">Select Meeting Date:</label>
  <div style="height: 20px;"></div>
    <input type="date" id="date" name="date" required>
    <div style="height: 20px;"></div>
  <label for="time">Select Meeting Time:</label>
  <div style="height: 20px;"></div>
  <input type="time" name="time" required> 
  <div style="height: 20px;"></div>
  <label for="link">Insert meeting link:</label>
  <div style="height: 20px;"></div>
  <input type="url" name="link">
  <div style="height: 20px;"></div>
  <div>
    <input type="submit">
  </div>
</form>
</body>
{% endblock %}