{% extends "layout2.html" %}

{% block title %}
    Schedule a Meeting
{% endblock %}

{% block main %}

<body>
<form action="/schedulerMent" method="post" required>  
  <!--Choosing meeting date-->
  <div class="card">
    <div class="card-header">
      Select Meeting Date
    </div>
    <div style="padding-bottom: 20px" class="card-body">
      <input type="date" id="date" name="date">
    </div>
  </div>
  <h1 style="padding-bottom: 10px"></h1>

  <div class="card">
    <div class="card-header">
      Select Meeting Time
    </div>
    <div style="padding-bottom: 20px" class="card-body">
      <input type="time" name="time">
    </div>
  </div>
  <h1 style="padding-bottom: 10px"></h1>

  <div class="card">
    <div class="card-header">
      Insert Meeting Link
    </div>
    <div style="padding-bottom: 20px" class="card-body">
      <input type="url" name="link">
    </div>
  </div>
  <h1 style="padding-bottom: 10px"></h1>

  <input type="submit" class="btn btn-primary"> </input>
  
</form>
</body>
{% endblock %}